<!doctype html>
<html>
<head>
  <title>Documentation</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{assetsPath}}/highlight.css">
  <link rel="stylesheet" href="{{assetsPath}}/style.css">
</head>
<body>
  <nav class="nav">
    <section class="nav-content">
        <header>Content:</header>
        {{#if navigation}}
            {{{navigation}}}
        {{else}}
            {{{menu}}}
        {{/if}}
    </section>
  </nav>
  <main class="main">
    {{{content}}}
  </main>
</body>
</html>
